html {
	background: rgba(30, 215, 96, 1);
}

.window {
	margin: 0;
	width: 95%;
	height: 90%;
	text-align: center;
	top: 50%;
	left: 50%;
	position: absolute;
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);

  	background: rgba(25, 20, 20, 1);
  	border-radius: 40px;

  	padding: 20px;
}

#main-table {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 95%;
	width: 95%;
}

#game-window {
	width: 75%;
	background: white;
	border: transparent;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
}

.correct-answer {
	background: rgba(30, 215, 96, 1);
}

.wrong-answer {
	background: red;
}

.unknown-answer {
	background: white;
}

.choice p {
	
}

#line-column {
	width: 5px;
	background: rgba(30, 215, 96, 1);
	border: transparent;
	border-radius: 40px;
}

#player-column {
	border: transparent;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

#player-table {
	width: 100%;
}

#room-id {
	background: rgba(30, 215, 96, 1);
	border: transparent;
	border-radius: 10px;
	cursor: pointer;
	margin: 0;
}

#room-id p {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 10px;
}

.tooltip {
	background: rgba(30, 215, 96, 1);
}

.player {
	border: 2px solid white;
	border-radius: 40px;
}

.profile-image {
	width: 60px;
	height: auto;
	vertical-align: -110%;
	border: 2px solid white;
	border-radius: 20px;
}

.profile-name {
	color: white;
	font-family: 'JetBrains Mono', monospace;
	font-size: 20px;
}

