<div class="window">
	<p>This is the game html!</p>
	<p>Room id: {{ roomId }}</p>
	<p>Players: {{ players.length }}</p>
	<ul>
		<div data-ng-repeat="player in players">
			<li>
				<p>{{ player.playerData.name }}</p>
				<img ng-src="{{ player.playerData.image }}">
			</li>
		</div>
		<button ng-click="startGame()" ng-show="showButton">Start Game</button>
	</ul>

	<img ng-src="{{ questionImage }}">
	<p>{{ question }}</p>
	<div data-ng-repeat="choice in choices">
		<button>{{ choice }}</button>
	</div>
</div>