<div class="window">
	<link href="css/game.css" rel="stylesheet"/>
	<link href="css/tooltip.css" rel="stylesheet"/>

	<table id="main-table">
		<tr>
			<th id="game-window">
				<button ng-click="startGame()" ng-show="showButton">Start Game</button>
				<img ng-src="{{ questionImage }}">
				<p>{{ question }}</p>
				<div data-ng-repeat="choice in choices track by $index">
					<button ng-class="activeButtons? (answers.includes(choice) ? 'correct-answer' : 'wrong-answer') : 'unknown-answer'" ng-click="activateButtons($index)" class="choice"><p>{{ choice }}</p></button>
				</div>
				<h2>{{ counter }}</h2>
			</th>
			<td id="line-column"></td>
			<td id="player-column">
				<table id="player-table">
					<tr>
						<td><button id="room-id" ng-click="copyToClipboard()"
									data-tooltip="Click to copy!">
							<p>ROOM ID: {{ roomId }}</p>
						</button></td>
					</tr>
					<tr data-ng-repeat="player in players track by $index">
						<td class="player">
							<p class="profile-name">
								<img ng-src="{{ player.profileImage }}" class="profile-image">
								{{ player.name }}
								{{ player.points }}
							</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>